<ion-app [class.dark-theme]="darkTheme">
  <ion-header>
    <ion-toolbar>
      <ion-title class="header__title">Where in the world?</ion-title>
      <ion-buttons slot="end">
        <ion-button class="header__theme-btn" (click)="switchTheme()">
          <div *ngIf="darkTheme;then lightThemeBtn else darkThemeBtn">here is ignored</div>
          <ng-template #lightThemeBtn>
            <ion-icon name="sunny-outline"></ion-icon>
            <ion-text class="theme-btn__text">
              <p>Light Theme</p>
            </ion-text>
          </ng-template>
          <ng-template #darkThemeBtn>
            <ion-icon name="moon-outline"></ion-icon>
            <ion-text class="theme-btn__text">
              <p>Dark Theme</p>
            </ion-text>
          </ng-template>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-router-outlet></ion-router-outlet>
</ion-app>
